<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-left"><img width="45" src="/images/android-chrome-192x192.png"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown dropdown-notifications">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i data-count="{{eventQueue.length}}" class="glyphicon glyphicon-bell notification-icon" id="notification-count"></i>
                    </a>
                    <ul class="dropdown-menu notifications" id="notification-list">
                        {{#each eventQueue }}
                        <li class="notification">
                            <div class="media">
                                <div class="media-left">
                                    <div class="media-object">
                                        <img data-src="{{this.icon}}" src="{{this.icon}}" class="img-circle" alt="Name">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <strong class="notification-title">{{this.title}}</a></strong>
                                    <p class="notification-desc">{{this.message}}</p>

                                    <div class="notification-meta">
                                        <small class="timestamp">27. 11. 2015, 15:00</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}

                    </ul>

                </li><!-- /dropdown -->

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Epics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/epics">View All</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/epics/add">Add Epic</a></li>
                    </ul>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Stories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stories">View All</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/stories/add">Add Story</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">View by status</li>
                        {{#each status}}
                            <li><a href="/stories/status/{{encode this.name}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">View<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="/roadmap">Roadmap</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Kanban boards</li>
                        <li><a href="/kanban">All Teams</a></li>
                        {{#each teams}}
                            <li><a href="/kanban/{{encode this.name}}">{{this.name}}</a></li>
                        {{/each}}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Story boards</li>
                        <li><a href="/stories">All Teams</a></li>
                        {{#each teams}}
                            <li><a href="/stories/team/{{encode this.name}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Peronas</li>
                        <li><a href="/personas">View Personas</a></li>
                        <li><a href="/personas/add">Add Persona</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Teams</li>
                        <li><a href="/teams">View Teams</a></li>
                        <li><a href="/teams/add">Add Team</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Labels</li>
                        <li><a href="/labels">View Labels</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/settings"><img height='20' align="bottom" src="{{profile.picture}}" class="img-circle"/>&nbsp;Profile</a>
                </li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out</a></li>
            </ul>


        </div><!--/.nav-collapse -->
    </div>
</nav>