<div class="row">
    <div class="col-md-11 center-block">
        <table id="epictable" class="table display">
            <thead>
            <tr>
                <th>Name</th>
                <th>Epic Label</th>
                <th>Description</th>
                <th>Goto Pivotal</th>
            </tr>
            </thead>
            <tbody>
            {{#each epics}}
                <tr>
                    <td><a href="/labels/{{this.label.name}}" target="_blank">{{this.name}}</a></td>
                    <td><a href="/labels/{{this.label.name}}">{{this.label.name}}</td>
                    <td>{{{nl2br this.description}}}</td>
                    <td><a href="{{this.url}}" target="_blank"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></td>
                </tr>
            {{/each}}


            </tbody>
        </table>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('#epictable').DataTable();
    } );
</script>