<div class="page-header">
    <h1>Highlighted Labels</h1>
</div>
<div class="row">
    {{#each defaultLabels}}
        <ul>
            <li><a href="/labels/{{this}}">{{this}}</a></li>
        </ul>
    {{else}}
        <br>
        <p>No matching labels found :(</p>
    {{/each}}
</div>
<div class="page-header">
<h2>All Labels</h2>
</div>
<div class="row center-block">
    <div class="col-md-10 col-lg-offset-1">
        <table id="labelTable" class="table display">
            <thead>
            <tr>
                <th>Label</th>
            </tr>
            </thead>
            <tbody>
            {{#each labels}}
                <tr>
                    <td><a href="/labels/{{this}}">{{this}}</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#labelTable').DataTable();
    });
</script>

