<div>
    <div class="panel panel-default">
        <div class="panel-heading">Summary for {{label}}</div>
        <div class="panel-body">
            <p>Number of Stories : {{stories.length}}</p>
            <p>Total points : {{totalPoints}}</p>
            <p>Not Estimated : {{notEstimated}}</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 center-block">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Estimate</th>
                <th>Status</th>
                <th>Labels</th>
            </tr>
            </thead>
            <tbody>
    {{#each stories}}
            <tr>
                <td><a href="{{this.url}}" target="_blank">{{this.name}}</a></td>
                <td>{{this.estimate}}</td>
                <td>{{this.current_state}}</td>
                <td>
                {{#each this.labels}}
                    <a href="/labels/{{this.name}}">{{this.name}}</a>
                    {{#unless @last}},{{/unless}}
                {{/each}}
                </td>
            </tr>
    {{/each}}
            </tbody>
        </table>
    </div>


</div>