<!-- Jumbotron Header -->
<div class="page-header">
    <h1>Roadmap</h1>
    <p>Shows Epics assigned to each milestone</p>
    </p>
</div>


<!-- Page Features -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            {{#each milestones}}
            <div class="col-md-4" style="border: #cdcdcd medium dashed">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4 class="caption text-center">
                            <b>{{this.title}}</b>
                        </h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        {{#each this.data}}
                            {{#is_finished this.stories}}
                            <div class="panel panel-success">
                            {{else is_started this.stories}}
                            <div class="panel panel-warning">
                            {{else}}
                            <div class="panel panel-default">
                            {{/is_finished}}
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <a href="/labels/{{this.epic.label.name}}">{{this.epic.name}}</a>
                                    &nbsp;
                                    <small>
                                    <a data-toggle="collapse" href="#collapse_{{this.epic.id}}">[details]</a>
                                    </small>
                                </h3>
                            </div>
                            <div id="collapse_{{this.epic.id}}" class="panel-collapse collapse">
                                <div class="panel-body">{{{nl2br this.epic.description}}}</div>
                            </div>
                            <div class="panel-footer">
                                <small>{{this.stories.length}} stories</small>
                                <small>{{calculatePoints this.stories}} points</small>
                                <br>
                                <small>{{story_summary this.stories}}</small>
                            </div>


                        </div>

                        {{/each}}
                    </div>

                    </div>

                    </div>
                </div>

            {{/each}}
        </div>
        </div>
        </div>


