<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{story.title}}</h3>
        </div>
        <table class="table">

            <tr>
                <td>Description</td>
                <td>
                    {{{nl2br story.description}}}
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <a href="/stories/{{encode .current_state}}">{{story.current_state}}</a>
                </td>
            </tr>
            <tr>
                <td>Team</td>
                <td>
                    <a href="/kanban/{{encode story.team_name}}">{{story.team_name}}</a>
                </td>
            </tr>
            <tr>
                <td>Estimate</td>
                <td>
                    {{#if story.estimate}}
                        {{story.estimate}}
                    {{else}}
                        Not estimated
                    {{/if}}

                </td>
            </tr>
            <tr>
                <td>Labels</td>
                <td>
                    {{#each story.labels}}
                        <a href="/labels/{{this.name}}">{{this.name}}</a>
                        {{#unless @last}},{{/unless}}
                    {{/each}}
                </td>
            </tr>

        </table>
    </div>

</div>