<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{story.title}}</h3>
        </div>
        <table class="table">

            <tr>
                <td>Description</td>
                <td>
                    <p><b>As a</b> {{story.persona}}<br>
                        <b>I want</b> {{{nl2br story.description}}}<br>
                        <b>So that</b> {{{nl2br story.reason}}}</p><br>
                </td>
            </tr>
            <tr>
                <td>Acceptance criteria</td>
                <td>
                    <p>{{{nl2br story.acceptance_criteria}}}</p>
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <a href="/stories/{{encode .current_state}}">{{story.current_state}}</a>
                </td>
            </tr>
            <tr>
                <td>Team</td>
                <td>
                    <a href="/kanban/{{encode story.team_name}}">{{story.team_name}}</a>
                </td>
            </tr>
            <tr>
                <td>Estimate</td>
                <td>
                    {{#if story.estimate}}
                        {{story.estimate}}
                    {{else}}
                        Not estimated
                    {{/if}}

                </td>
            </tr>
            <tr>
                <td>Labels</td>
                <td>
                    {{#each story.labels}}
                        <a href="/labels/{{this.name}}">{{this.name}}</a>
                        {{#unless @last}},{{/unless}}
                    {{/each}}
                </td>
            </tr>

        </table>
    </div>
    </div>
</div>