<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <table class="table">
            <tr>
                <th>Status</th>
                <th>Stories</th>
                <th>Points</th>
            </tr>
            {{#each stateMap}}
                <tr>
                    <td><a href="/stories/{{@key}}">{{@key}}</a></td>
                    <td>{{this.count}}</td>
                    <td>{{this.points}}</td>
                </tr>
            {{/each}}
        </table>
        <div class="panel-footer"> Number of Stories : {{stories.length}} &nbsp; Total points : {{totalPoints}} &nbsp;
            Not Estimated : {{notEstimated}}</div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 center-block">
        <table id="storyTable" class="table display">
            <thead>
            <tr>
                <th>Name</th>
                <th>Estimate</th>
                <th>Status</th>
                <th>Labels</th>
                <th>Project</th>
            </tr>
            </thead>
            <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="{{this.url}}" target="_blank">{{this.name}}&nbsp;<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></td>
                    <td>{{this.estimate}}</td>
                    <td><a href="/stories/{{this.current_state}}">{{this.current_state}}</a></td>
                    <td>
                        {{#each this.labels}}
                            <a href="/labels/{{this.name}}">{{this.name}}</a>
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                    </td>
                    <td>
                        <a href="/kanban/{{this.project_id}}">{{projectid2name this.project_id}}</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>


<script>
    $(document).ready(function() {
        $('#storyTable').DataTable();
    } );
</script>

