<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">All Stories</div>
        <div class="panel-body">
            <p>Number of Stories : {{stories.length}}, Total points : {{totalPoints}},
                Not Estimated : {{notEstimated}}</p>
        </div>
        <table class="table">
            <tr>
                <th>Status</th>
                <th>Stories</th>
                <th>Points</th>
            </tr>
            {{#each stateMap}}
                <tr>
                    <td><a href="/stories/{{@key}}">{{@key}}</a></td>
                    <td>{{this.count}}</td>
                    <td>{{this.points}}</td>
                </tr>
            {{/each}}
        </table>
    </div>

</div>
<div class="row">
    <div class="col-md-12 center-block">
        <table id="storyTable" class="table display">
            <thead>
            <tr>
                <th>Name</th>
                <th>Estimate</th>
                <th>Status</th>
                <th>Labels</th>
            </tr>
            </thead>
            <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="{{this.url}}" target="_blank">{{this.name}}</a></td>
                    <td>{{this.estimate}}</td>
                    <td><a href="/stories/{{this.current_state}}">{{this.current_state}}</a></td>
                    <td>
                        {{#each this.labels}}
                            <a href="/labels/{{this.name}}">{{this.name}}</a>
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('#storyTable').DataTable();
    } );
</script>

