<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Story</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{story.title}}
                    <div class="pull-right">
                        <a type="button" id="editButton" class="h6"
                           href="javascript:unlockForm();">Edit</a> |
                        <a href="#" class="h6" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                    </div>
                </h3>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <form action="/stories/{{story.id}}" method="post" class="form-horizontal">
                        <fieldset disabled id="formFieldSet">
                            <div class="form-group">
                                <label for="inputEmail" class="control-label col-sm-3">Title</label>
                                <div class="controls col-sm-9">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                                           value="{{story.title}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus" class="control-label col-sm-3">{{#if epic}}
                                    <a href="/epics/{{epic.epic_id}}">Epic</a>{{else}}Epic{{/if}}</label>
                                <div class="controls col-sm-8">
                                    <input type="text" class="form-control" id="epic" name="epic" placeholder="Epic"
                                           value="{{epic.title}}">
                                </div>
                                <div class="controls col-sm-1">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#assignEpicModel">Assign</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputStatus" class="control-label col-sm-3"><a
                                        href="/stories/status/{{encode story.current_state}}">Status</a></label>
                                <div class="controls col-sm-9">
                                    <select name="status" class="form-control">
                                        {{#each status}}
                                            <option value="{{this.id}}"{{#ifCond this.id "=="
                                                                                 ../story.status_id}}selected{{/ifCond}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEstimate" class="control-label col-sm-3">Estimate</label>
                                <div class="controls col-sm-9">
                                    <input type="number" class="form-control" id="estimate" placeholder="0"
                                           name="estimate" value="{{story.estimate}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTeam" class="control-label col-sm-3"><a
                                        href="/stories/team/{{encode story.team_name}}">Assigned to</a></label>
                                <div class="controls col-sm-9">
                                    <select name="team" class="form-control">
                                        {{#each teams}}
                                            <option value="{{this.id}}"{{#ifCond this.id "=="
                                                                                 ../story.team_id}}selected{{/ifCond}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputlabels" class="control-label col-sm-3">Labels</label>
                                <div class="controls col-sm-9">
                                    <input type="text" class="form-control" id="labels" placeholder=""
                                           name="estimate" value="{{story.labels}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="inputPersona" class="control-label col-sm-3"><a
                                        href="/stories/persona/{{story.persona_name}}">As... </a></label>
                                <div class="controls col-sm-9">
                                    <select name="persona" class="form-control" id="persona">
                                        {{#each this.personas}}
                                            <option value="{{this.id}}"{{#ifCond this.id "=="
                                                                                 ../story.persona}}selected{{/ifCond}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputWhat" class="control-label col-sm-3">I want... </label>
                                <div class="controls col-sm-9">
                                    <textarea name="description" class="form-control"
                                              rows="5">{{story.description}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputWhy" class="control-label col-sm-3">So that... </label>
                                <div class="controls col-sm-9">
                                    <textarea name="reason" class="form-control" rows="5">{{story.reason}}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAcceptance" class="control-label col-sm-3">Acceptance Criteria </label>
                                <div class="controls col-sm-9">
                                    <textarea name="acceptance_criteria" class="form-control"
                                              rows="5">{{story.acceptance_criteria}}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <button type="submit" id="updateButton" style="display:none"
                                            class="btn btn-primary">Update
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="assignEpicModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Epic</h4>
            </div>
            <div class="modal-body">
               {{>epic-list}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" onclick="assignEpic()">Assign</a>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Story ?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete Story '{{story.title}}' ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" onclick="deleteStory()">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/utils.js"></script>
<script language="JavaScript">

    function deleteStory () {
        $.ajax({
            url: '/stories/{{story.id}}',
            type: 'DELETE',
            success: callback || $.noop,
            error: errorCallback || $.noop
        });
    }

    function callback () {
        window.location.href = "/epics";
    }

    function errorCallback () {
        alert('Error deleting story');
    }

    function assignEpic() {

        var table = $('#epicTable').dataTable();

        var item = table.rows( { selected: true } );

        console.log( item );

        alert(item);
    }


    $('#assignEpicModel').on('shown.bs.modal', populateEpics );

</script>