<script src="/js/jquery.matchHeight-min.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-12 text-center">
        <h3>Kanban - {{title}}</h3>
    </div>
</div>
<!-- Page Features -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 kanban-column" id="notstarted-column">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4 class="caption text-center">
                            <b>Not Started</b> <br>
                            <small>Stories:{{notStarted.length}}  Points:{{calculatePoints notStarted}}</small>
                        </h4>
                    </div>
                </div>

                <div class="panel-group">
                    {{#each notStarted}}
                        {{> kanbancard }}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-4 kanban-column" id="started-column">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4 class="caption text-center">
                            <b>Started</b> <br>
                            <small>Stories:{{started.length}}  Points:{{calculatePoints started}}</small>
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-group">
                        {{#each started}}
                            {{> kanbancard }}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 kanban-column" id="delivered-column">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4 class="caption text-center">
                            <b>Delivered</b> <br>
                            <small>Stories:{{delivered.length}}  Points:{{calculatePoints delivered}}</small>
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="panel-group">
                        {{#each delivered}}
                            {{> kanbancard }}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $('#started-column').on('shown.bs.collapse', function() {
        $.fn.matchHeight._update();
    });
    $('#notstarted-column').on('shown.bs.collapse', function() {
        $.fn.matchHeight._update();
    });
    $('#delivered-column').on('shown.bs.collapse', function() {
        $.fn.matchHeight._update();
    });


    (function() {
        /* matchHeight example */
        $(function() {
            var options = {
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            };

            $(function () {
                $('.kanban-column').matchHeight(options);
            });
        })})();
</script>






