<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Epic</h3>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <form action="/epic/update/{{story.id}}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail" class="control-label col-sm-3">Title</label>
                            <div class="controls col-sm-9">
                                <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{story.title}}">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="inputPersona" class="control-label col-sm-3">As... </label>
                            <div class="controls col-sm-9">
                                <select name="persona" class="form-control" id="persona">
                                    {{#each this.personas}}
                                        <option {{#ifCond this.id ../story.persona}} selected="selected" {{/ifCond}}
                                                                                     value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWhat" class="control-label col-sm-3">I want... </label>
                            <div class="controls col-sm-9">
                                <textarea name="description" class="form-control">{{story.description}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputWhy" class="control-label col-sm-3">So that... </label>
                            <div class="controls col-sm-9">
                                <textarea name="reason" class="form-control">{{story.reason}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAcceptance" class="control-label col-sm-3">Acceptance Criteria </label>
                            <div class="controls col-sm-9">
                                <textarea name="acceptance_criteria" class="form-control">{{story.acceptance_criteria}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9"> <button type="submit" class="btn btn-primary">Update Epic</button></div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

