<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table id="storyTable" class="table display">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Labels</th>

            </tr>
            </thead>
            <tbody>
            {{#each epics}}
                <tr>
                    <td><a href="/epics/{{this.id}}">{{this.title}}</a></td>
                    <td>{{this.description}}</td>
                    <td>
                        {{#each this.labels}}
                            <a href="/labels/{{encode this.name}}">{{this.name}}</a>
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                    </td>

                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>


<script>
    $(document).ready(function() {
        $('#storyTable').DataTable();
    } );
</script>

