<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table id="epicTable" class="table display">
            <thead>
            <tr>
                <th width="10px">Order</th>
                <th>Name</th>
                <th>Description</th>

            </tr>
            </thead>
            <tbody>
            {{#each epics}}
                <tr>
                    <td>{{this.theorder}}</td>
                    <td><a href="/epics/{{this.id}}">{{this.title}}</a></td>
                    <td>{{this.description}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>


<script>

    $(document).ready(function () {

        var table = $('#epicTable').DataTable({
            rowReorder: true,
            scrollY: 500,
            paging: false
        });

        table.on('row-reorder', function (e, diff, edit) {
            var from = edit.triggerRow.data()[ 0 ];
            var to = null;

            for (var i = 0, ien = diff.length; i < ien; i++) {
                var rowData = table.row(diff[ i ].node).data();

                if (from == diff[ i ].oldData) {
                    to = diff[ i ].newData;
                }
            }

            $.ajax({
                type: "PATCH",
                url: '/epics/' + from + '/' + to,
                data: {},
                success: function (result) { console.log("success:" + result)},
                error: function (error) { console.log("error:" + error)}
            });

        });
    });

    listenForSSE();
</script>

